---
// introduce myself
---

<section>
  <article class="space-y-4">
    <p class="animate text-justify">
        I'm Fullstack Developer with a passion for building seamless digital experiences.
        Over the past 12+ years, I’ve had the privilege of working on projects that span Fintech, Banking,
        Construction Tech, Healthcare, and beyond, always with a focus on solving real-world problems with code.
    </p>
    <p class="animate text-justify">
        When I’m not coding apps or debugging systems, you’ll likely find me exploring the world
        through my camera lens, practicing Brazilian Jiujitsu, or planning my next travel adventure. I
        believe great technology should feel effortless, and I love the challenge of turning complex ideas
        into intuitive, user-friendly solutions.
    </p>
    <p class="animate text-justify">
        Whether it’s crafting a sleek mobile app, modernizing legacy systems, or mentoring teams to build
        better software, I’m driven by the impact technology can have on people’s lives.
        If you’re here, you’re probably curious about what I do, feel free to explore my work, and let’s connect!
    </p>
    <p class="animate text-justify"></p>
  </article>
</section>
